:root{
    --circle-size:20px;
}

*{
    cursor: none;
}

.circle{
    z-index: 99999;
    margin: 0;
    padding: 0;
    position: absolute;
    position: fixed;
    width: var(--circle-size);height: var(--circle-size);
    border-radius: 50%;
    pointer-events: none;
    background: #fff;
    border: 3px solid #000;
}

.__black_cursor{
    background: #000;
    border: 3px solid #fff;
}

.circle1 {transition: all .00s;transform: scale( calc(1/2) );z-index: 999999;}
.circle2 {transition: all .01s;transform: scale( calc(1/4) );}
.circle3 {transition: all .02s;transform: scale( calc(1/4) );}
.circle4 {transition: all .03s;transform: scale( calc(1/4) );}
.circle5 {transition: all .04s;transform: scale( calc(1/5) );}
.circle6 {transition: all .05s;transform: scale( calc(1/6) );}
.circle7 {transition: all .06s;transform: scale( calc(1/7) );}
.circle8 {transition: all .07s;transform: scale( calc(1/8) );}
.circle9 {transition: all .08s;transform: scale( calc(1/9) );}
.circle10{transition: all .09s;transform: scale( calc(1/10) );}


.__on_mouseEnterCliquable{
    border:none;
    transform: scale(2);
    opacity: 0.5;
    transition: transform .2s;
}