:root{
    --border-width:2px;
}

*{
    cursor: none;
}

.custom-cursor{
    margin: 0;
    padding: 0;
    margin-top: var(--border-width);
    position: absolute;top: 0;left: 0;
    position: fixed;
    height: 30px;
    width: 30px;
    pointer-events: none;
    mix-blend-mode: difference;
    border-radius: 50%;
    z-index: 9999;
    background:transparent;
    border: var(--border-width) solid rgb(179, 123, 133);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5px;
}

.__touch_link{
    font-size: 1em;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
}